.mainContainer {
  min-height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  padding: 2rem;  
  width: max(20%, min(410px, 100%));
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}