.mainContainer {
  min-height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPanelContainer {
  max-width: 33%;
  border: 1px solid yellow;
  background: yellow
}

.logo {
  width: 100px;
  margin-right: auto;
  margin-bottom: 2rem;
}